@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #1400FF;
}
a:hover img.link-arrow {
  /* filter: invert(12%) sepia(85%) saturate(7348%) hue-rotate(251deg) brightness(86%) contrast(144%); */
  filter: invert(100%);

}
a:hover .content-type {
  background-color: #1400FF;
}

body {
  background-color: white;
  color: black;
}

.scroll-to-top {
  box-shadow: none!important;
  background-color: transparent!important;
  right: 12px!important;
}
/*'sm': '640px',*/
@media (min-width: 640px) {

}

/*'md': '768px',*/
@media (min-width: 768px) {

}

/*'lg': '1024px',*/
@media (min-width: 1024px) {
  .scroll-to-top {
    right: 30px!important;
  }
}

/*'xl': '1280px',*/
@media (min-width: 1280px) {

}

/*'2xl': '1536px',*/
@media (min-width: 1536px) {

}
